<%= form_for @user do |f| %>
  <h5> Name: </h5><%= f.text_field :name %><br>
  <h5> Instructor: </h5> <%= f.check_box :instructor %><br>
  <% if session[:user_id] && @user.instructor == false %>
    <h5> Enroll in a cohort: </h5>
    <%= f.collection_select(:cohort_id, Cohort.all, :id, :name, :include_blank => true) %><br>
  <% end  %>
  <h5> Username: </h5> <%= f.text_field :username %><br>
  <h5> Password: </h5> <%= f.password_field :password%><br><br>
  <%= f.submit %><br>
<% end %>
<br>
