<h1> Hello, <%= @user.name.titleize %>!</h1><br>

<h5> Name: <%= @user.name.titleize %></h5>
<h5> Username: <%= @user.username %></h5>



<% if @user.instructor == true  %>
  <h5> Role: Instructor</h5>
<% elsif @user.instructor == false %>
  <h5> Role: Student </h5>
<% end  %>


<% if @user.cohort != nil && @user.instructor == false %>
  <h5> Cohort: <%= @user.cohort.name %></h5>
<% elsif @user.instructor == false %>
  <h5> Cohort: Unassigned </h5>
<% end  %>

<br>
<h2>Recent Reviews: </h2>
________________________________________________________________________________
<br><br>
<% @user_reviews.each do |rev| %>
<p> Restaurant Name: <%= rev.restaurant.name %> <br>
 Date Reviewed: <%= rev.created_at.strftime("%B %d, %Y") %> <br>
 Rating: <%= rev.rating %> stars <br>
 Wait time: <%= rev.wait %> minutes <br>
 Comments: <%= rev.content %> </p>
________________________________________________________________________________
<br><br>
<% end  %>

<br>
<h2>Your Restaurants: </h2>
________________________________________________________________________________
<br><br>
<% @user_restaurants.each do |rest| %>

<p> Restaurant Name: <%= rest.restaurant.name %> <br>
<%=  @user.reviews.where("restaurant_id = ?", rest.restaurant.id).average(:rating).to_f %></p>
________________________________________________________________________________
<br><br>
<% end  %>
<br><br>

<br>
<h2>Your Experiences: </h2>
________________________________________________________________________________
<br><br>
<% @user_experiences.each do |exp| %>
<p> Experience Destination: <%= exp.experience.restaurant.name %> <br>
 Date of Experience: <%= exp.experience.date.strftime("%B %d, %Y") %> <br>
________________________________________________________________________________
<br><br>
<% end  %>

<p><%= link_to("Edit Profile", edit_user_path) %></p>

<%= link_to "Dashboard" , root_path %>
