<br>
<br>

<u><h3>Experiences</h3></u>
<h4>Upcoming Flatiron Experiences</h4>
<div class="">
  <div class="row">
    <% Experience.upcoming.each do |experience| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to(image_tag(experience.restaurant.image.url(:large)), experience_path(experience)) %>
        <div class="caption">
          <h4><%= "Come to #{experience.restaurant.name} on #{experience.date.strftime("%B %d, %Y")}" %></h4>
          <p>Going: <%= experience.users.length %></p>
          <p><a href="<%= experience_signups_path(experience_id: experience.id) %>" data-method="post" class="btn btn-info" role="button">Sign Up!</a></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>

<u><h3>Restaurants</h3></u>
<h4>Top Restaurants Near Flatiron</h4>
<div class="">
  <div class="row">
    <% Restaurant.top_restaurants.each do |restaurant| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to(image_tag(restaurant.image.url(:large)), restaurant_path(restaurant)) %>
        <div class="caption">
          <h4><%= "#{restaurant.name} - #{restaurant.average_rating} avg rating" %></h4>
          <p>Distance: <%= restaurant.miles %></p>
          <p><a href="<%= new_review_path %>" class="btn btn-default" role="button">Review</a> <a href="<%= restaurant_path(restaurant) %>" class="btn btn-info" role="button">Go Eat!</a></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>

<h4>Most Reviewed Restaurants Near Flatiron</h4>
<div class="">
  <div class="row">
    <% Restaurant.most_reviewed_restaurants.each do |restaurant| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to(image_tag(restaurant.image.url(:large)), restaurant_path(restaurant)) %>
        <div class="caption">
          <p><%= "#{restaurant.name} - #{restaurant.reviews.length} reviews" %></p>
          <p><%= "Average rating of #{restaurant.average_rating} stars" %></p>
          <p><a href="<%= new_review_path %>" class="btn btn-default" role="button">Review</a> <a href="<%= restaurant_path(restaurant) %>" class="btn btn-info" role="button">Go Eat!</a></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>

<h4>Shortest Turnaround Times</h4>
<div class="">
  <div class="row">
    <% Restaurant.shortest_turnaround_times.each do |restaurant| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to(image_tag(restaurant.image.url(:large)), restaurant_path(restaurant)) %>
        <div class="caption">
          <p><%= "#{restaurant.name} - #{restaurant.total_turnaround} minutes" %></p>
          <p><a href="<%= new_review_path %>" class="btn btn-default" role="button">Review</a> <a href="<%= restaurant_path(restaurant) %>" class="btn btn-info" role="button">Go Eat!</a></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>

<u><h3>Users</h3></u>
<div class="">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <table class = "table table-condensed table-hover">
          <h4>Most Active Reviewers</h4>
          <tr>
            <th>User</th>
            <th>Reviews</th>
          </tr>
          <% User.most_active.each do |user| %>
          <tr>
            <td> <%= link_to "#{user.name}", user_path(user) %> </td>
            <td> <%= user.reviews.length %> </td>
          </tr>
      <% end %>
      </table>
    </div>
    <div class="col-sm-6 col-md-4">
      <table class = "table table-condensed table-hover">
        <h4>Happiest Reviewers</h4>
          <tr>
            <th>User</th>
            <th>Reviews</th>
            <th>Avg. Rating</th>
          </tr>
          <% User.happiest_reviewer.each do |user| %>
          <tr>
            <td> <%= link_to "#{user.name}", user_path(user) %> </td>
            <td> <%= user.reviews.length %> </td>
            <td> <%= user.average_rating %> </td>
          </tr>
      <% end %>
      </table>
    </div>
    <div class="col-sm-6 col-md-4">
      <table class = "table table-condensed table-hover">
        <h4>Snobbiest Reviewers</h4>
          <tr>
            <th>User</th>
            <th>Reviews</th>
            <th>Avg. Rating</th>
          </tr>
          <% User.snobiest_reviewer.each do |user| %>
          <tr>
            <td> <%= link_to "#{user.name}", user_path(user) %> </td>
            <td> <%= user.reviews.length %> </td>
            <td> <%= user.average_rating %> </td>
          </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
<br>


<u><h3>Reviews</h3></u>
<h4>Most Recent Reviews</h4>

<% Review.most_recent_reviews.each do |rev| %>
<ul>
<li> <%= link_to "#{rev.user.name}", user_path(rev.user) %> reviewed <%= link_to "#{rev.restaurant.name}", restaurant_path(rev.restaurant) %>!</li>
<ul>
<li><%= link_to "Rating: #{rev.rating} Stars", review_path(rev) %></li>
<li><%= link_to "Wait: #{rev.wait} minute wait", review_path(rev) %></li>
<li><%= link_to "Comments: #{rev.content}", review_path(rev) %> </li>
</ul></ul>
<% end %>
