<br>
<br>


<h2>RESTAURANTS</h2>
<h3>Top Restaurants Near Flatiron</h3>
<div class="">
  <div class="row">
    <% Restaurant.top_5_restaurants.each do |restaurant| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to(image_tag(restaurant.image.url(:large)), restaurant_path(restaurant)) %>
        <div class="caption">
          <h3><%= "#{restaurant.name} - #{restaurant.average_rating} avg rating" %></h3>
          <p>Distance: <%= restaurant.miles %></p>
          <p><a href="<%= new_review_path %>" class="btn btn-default" role="button">Review</a> <a href="<%= restaurant_path(restaurant) %>" class="btn btn-info" role="button">Go Eat!</a></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>

<h3>Most Reviewed Restaurants Near Flatiron</h3>
<ul>
  <% Restaurant.most_reviewed_restaurants.each do |restaurant| %>
  <li><%= link_to "#{restaurant.name} - #{restaurant.reviews.length} reviews: average rating of #{restaurant.average_rating} stars", restaurant_path(restaurant) %></li>
  <% end %>
</ul>
<br>

<h3>Shortest Average Wait Times</h3>
<ul>
  <% Restaurant.shortest_wait_times.each do |restaurant| %>
  <li><%= link_to "#{restaurant.name} - #{restaurant.average_wait} minutes", restaurant_path(restaurant) %></li>
  <% end %>
</ul>
<br>

<h3>Longest Average Wait Times</h3>
<ul>
  <% Restaurant.longest_wait_times.each do |restaurant| %>
  <li><%= link_to "#{restaurant.name} - #{restaurant.average_wait} minutes", restaurant_path(restaurant) %></li>
  <% end %>
</ul>
<br>

<h3>Furthest Walk (But Totally Worth It)</h3>
<h4>TODO: Work on walk time feature</h4>
<ul>
  <% Restaurant.longest_wait_times.each do |restaurant| %>
  <li><%= link_to "#{restaurant.name} - Total average roundtrip (including wait time) #{restaurant.average_wait} minutes", restaurant_path(restaurant) %></li>
  <% end %>
</ul>

<h2>USERS</h2>
<br>
<h3>Most Active Reviewers</h3>
<ul>
  <% User.most_active.each do |user| %>
  <li><%= link_to "#{user.name} - #{user.reviews.length} reviews", user_path(user) %></li>
  <% end %>
</ul>
<br>
<h3>Happiest Reviewers</h3>
<ul>
  <% User.happiest_reviewer.each do |user| %>
  <li><%= link_to "#{user.name} - #{user.average_rating} stars", user_path(user) %></li>
  <% end %>
</ul>
<br>
<h3>Food Snob Leaderboard</h3>
<ul>
  <% User.snobiest_reviewer.each do |user| %>
  <li><%= link_to "#{user.name} - #{user.average_rating} stars", user_path(user) %></li>
  <% end %>
</ul>
<br>



<h2>REVIEWS</h2>
<h3>Most Recent Reviews</h3>

<% Review.most_recent_reviews.each do |rev| %>
<ul>
<li> <%= link_to "#{rev.user.name}", user_path(rev.user) %> reviewed <%= link_to "#{rev.restaurant.name}", restaurant_path(rev.restaurant) %>!</li>
<ul>
<li><%= link_to "Rating: #{rev.rating} Stars", review_path(rev) %></li>
<li><%= link_to "Wait: #{rev.wait} minute wait", review_path(rev) %></li>
<li><%= link_to "Comments: #{rev.content}", review_path(rev) %> </li>
</ul></ul>
<% end %>
