<br>
<br>

<u><h3>Experiences</h3></u>
<h4>Upcoming Flatiron Experiences</h4>
<div class="">
  <div class="row">
    <% Experience.upcoming.each do |experience| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to(image_tag(experience.restaurant.image.url(:large)), experience_path(experience)) %>
        <div class="caption">
          <h4><%= "Come to #{experience.restaurant.name} on #{experience.date.strftime("%B %d, %Y")}" %></h4>
          <p>Going: <%= experience.users.length %></p>
          <p><a href="<%= new_experience_signup_path %>" class="btn btn-info" role="button">Go Eat!</a></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>

<u><h3>Restaurants</h3></u>
<h4>Top Restaurants Near Flatiron</h4>
<div class="">
  <div class="row">
    <% Restaurant.top_5_restaurants.each do |restaurant| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to(image_tag(restaurant.image.url(:large)), restaurant_path(restaurant)) %>
        <div class="caption">
          <h4><%= "#{restaurant.name} - #{restaurant.average_rating} avg rating" %></h4>
          <p>Distance: <%= restaurant.miles %></p>
          <p><a href="<%= new_review_path %>" class="btn btn-default" role="button">Review</a> <a href="<%= restaurant_path(restaurant) %>" class="btn btn-info" role="button">Go Eat!</a></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>

<h4>Most Reviewed Restaurants Near Flatiron</h4>
<ul>
  <% Restaurant.most_reviewed_restaurants.each do |restaurant| %>
  <li><%= link_to "#{restaurant.name} - #{restaurant.reviews.length} reviews: average rating of #{restaurant.average_rating} stars", restaurant_path(restaurant) %></li>
  <% end %>
</ul>
<br>

<h4>Shortest Average Wait Times</h4>
<ul>
  <% Restaurant.shortest_wait_times.each do |restaurant| %>
  <li><%= link_to "#{restaurant.name} - #{restaurant.average_wait} minutes", restaurant_path(restaurant) %></li>
  <% end %>
</ul>
<br>

<h4>Longest Average Wait Times</h4>
<ul>
  <% Restaurant.longest_wait_times.each do |restaurant| %>
  <li><%= link_to "#{restaurant.name} - #{restaurant.average_wait} minutes", restaurant_path(restaurant) %></li>
  <% end %>
</ul>
<br>

<h4>Furthest Walk (But Totally Worth It)</h4>
<h4>TODO: Work on walk time feature</h4>
<ul>
  <% Restaurant.longest_wait_times.each do |restaurant| %>
  <li><%= link_to "#{restaurant.name} - Total average roundtrip (including wait time) #{restaurant.average_wait} minutes", restaurant_path(restaurant) %></li>
  <% end %>
</ul>
<br>
<u><h3>Users</h3></u>
<h4>Most Active Reviewers</h4>
<ul>
  <% User.most_active.each do |user| %>
  <li><%= link_to "#{user.name} - #{user.reviews.length} reviews", user_path(user) %></li>
  <% end %>
</ul>
<br>
<h4>Happiest Reviewers</h4>
<ul>
  <% User.happiest_reviewer.each do |user| %>
  <li><%= link_to "#{user.name} - #{user.average_rating} stars", user_path(user) %></li>
  <% end %>
</ul>
<br>
<h4>Food Snob Leaderboard</h4>
<ul>
  <% User.snobiest_reviewer.each do |user| %>
  <li><%= link_to "#{user.name} - #{user.average_rating} stars", user_path(user) %></li>
  <% end %>
</ul>
<br>



<u><h3>Reviews</h3></u>
<h4>Most Recent Reviews</h4>

<% Review.most_recent_reviews.each do |rev| %>
<ul>
<li> <%= link_to "#{rev.user.name}", user_path(rev.user) %> reviewed <%= link_to "#{rev.restaurant.name}", restaurant_path(rev.restaurant) %>!</li>
<ul>
<li><%= link_to "Rating: #{rev.rating} Stars", review_path(rev) %></li>
<li><%= link_to "Wait: #{rev.wait} minute wait", review_path(rev) %></li>
<li><%= link_to "Comments: #{rev.content}", review_path(rev) %> </li>
</ul></ul>
<% end %>
