<h1><%= @experience.restaurant.name %></h1>

<p><%= @experience.date %></p>


<%= link_to("Signup!", new_experience_signup_path) %><br>

<%= link_to("Did you attend? Write a review!", new_review_path) %><br>

<%= link_to("Edit", edit_experience_path(@experience)) %>
