<h1>Experience: <%= @experience.restaurant.name %> on <%= @experience.date.strftime("%B %d, %Y") %> at 12pm</h1>

<br>

<h4>Current Attendees</h4>

<%  @experience.users.each do |user| %>
<li><%= user.name %></li>
<% end %>


<br><br><br>
<p><a href="<%= experience_signups_path(experience_id: @experience.id) %>" data-method="post" class="btn btn-info" role="button">Sign Up!</a></p>


<%= link_to("Did you attend? Write a review!", new_review_path) %><br>

<%= link_to("Edit", edit_experience_path(@experience)) %>
