<h1>Restaurants</h1>
<a href="<%= new_restaurant_path %>" class="btn btn-info" role="button">Add New Restaurant</a>
<br><br>

<table class = "table table-hover sortable">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Average Rating</th>
      <th>Expected Time Taken</th>
    </tr>
    <% @restaurants.each do |restaurant| %>
    <tr>
      <td> <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %> </td>
      <td> <%= restaurant.address %> </td>
      <td> <%= restaurant.average_rating %> </td>
      <td> <%= restaurant.total_turnaround %> minutes </td>
    </tr>
<% end %>
</table>

<br>
<br>
