<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.restaurant_type %></p>
<p><%= @restaurant.cuisine %></p><br>



GOOGLE MAPS SNIPPET <br>
HOW LONG OF WALK <br>
WAIT TIME <br><br>

CALCULATED WALK + AVERAGE WAIT TIME <br>
AVERAGE RATING <br><br>

TOP EATER? <br>

<%= link_to("Have you eaten here? Write a review!", new_review_path) %>
