<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.restaurant_type %></p>
<p><%= @restaurant.cuisine %></p><br>
<p><%= image_tag @restaurant.image.url(:large) %></p><br>



<%= image_tag @restaurant.static_map_for %>
<br>
<br>
Address: <%= @restaurant.address %><br>
Distance Away: <%= @restaurant.miles %><br>
Travel Time: <%= @restaurant.minutes %> Minutes<br>

Combined travel and wait time: <%= @restaurant.total_turnaround %> Minutes<br>

Average Rating <%= @restaurant.average_rating %> Stars <br>
<br><br><br>


TOP EATER? <br>

<%= link_to("Have you eaten here? Write a review!", new_review_path) %><br>

<%= link_to("Edit", edit_restaurant_path(@restaurant)) %>
